<a href="https://colab.research.google.com/github/mtnman38/harpo/blob/main/harpo_exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import tensorflow as tf
import pandas as pd

# Harpo initial explorations

#### Get some data

In [2]:
ds_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv'
column_names = ['fixed acidity',
                'volatile acidity', 
                'citric acid', 
                'residual sugar',
                'chlorides',
                'free sulfur dioxide',
                'total sulfur dioxide', 
                'density', 
                'pH', 
                'sulphates',
                'alcohol', 
                'quality']

In [5]:
dataset_path = tf.keras.utils.get_file(ds_url.split('/')[-1], ds_url)
dataset_csv = pd.read_csv(dataset_path,
                          names=column_names,
                          na_values="?",
                          comment='\t',
                          sep=";",
                          skipinitialspace=True,
                          header=0)

dataset_final = dataset_csv[['alcohol',
                             'chlorides',
                             'quality']]

In [6]:
dataset_final.head()

   alcohol  chlorides  quality
0      9.4      0.076        5
1      9.8      0.098        5
2      9.8      0.092        5
3      9.8      0.075        6
4      9.4      0.076        5

#### Next steps