<a href="https://colab.research.google.com/github/mtnman38/harpo/blob/main/harpo_exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf
import pandas as pd

# Harpo initial explorations

#### Get some data

In [2]:
ds_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv'
column_names = ['fixed acidity',
                'volatile acidity', 
                'citric acid', 
                'residual sugar',
                'chlorides',
                'free sulfur dioxide',
                'total sulfur dioxide', 
                'density', 
                'pH', 
                'sulphates',
                'alcohol', 
                'quality']

In [7]:
dataset_path = tf.keras.utils.get_file(ds_url.split('/')[-1], ds_url)
dataset_csv = pd.read_csv(dataset_path,
                          names=column_names,
                          na_values="?",
                          comment='\t',
                          sep=";",
                          skipinitialspace=True,
                          header=0)

df = dataset_csv[['alcohol',
                  'chlorides']]

In [8]:
df.head()

   alcohol  chlorides
0      9.4      0.076
1      9.8      0.098
2      9.8      0.092
3      9.8      0.075
4      9.4      0.076

#### Next steps

In [9]:
df

      alcohol  chlorides
0         9.4      0.076
1         9.8      0.098
2         9.8      0.092
3         9.8      0.075
4         9.4      0.076
...       ...        ...
1594     10.5      0.090
1595     11.2      0.062
1596     11.0      0.076
1597     10.2      0.075
1598     11.0      0.067

[1599 rows x 2 columns]